.title {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.1;
}

.quickDetails {
    border: 5px solid #E1992B;
}

.eventPic {
    max-width: 100%;
}

.buttonColor {
    background-color: #E1992B;
    border-color: #E1992B;
    width: 100%;
}

.quickDetailItem {
font-size: 16px;
font-weight: 400;
padding-bottom: 16px;
}