@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.gridCol {
  background-color: white;
  /*border: 1px solid #ccc;*/
}

.footer {
  background-color: #1E5276;
}

.searchBackground {
    background-color: rgb(102, 32, 32);
}

.containerForm {
  width: 95%;
  margin: auto;
}

svg {
margin: 8px;}
