html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.gridCol {
  background-color: white;
  /*border: 1px solid #ccc;*/
}

.footer {
  background-color: #6F90A8;
}

.searchBackground {
    background-color: rgb(102, 32, 32);
}

.containerForm {
  width: 80%;
  margin: auto;
}